
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: rgb(221, 153, 248);
    color: black;
    text-align: center;

}


h1 {
    color: black;
    margin-top: 20px;
}

h2 {
    color: black;
}


p {
    margin: 15px 0;
}


img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
}


